<!DOCTYPE html>
<html>
<head>
<title>T. aestivus</title>
</head>
<body>
        <a href="{% url 'home' %}">Start again</a>
        <a href="{% url 'wheat' %}">Go to wheat</a>
        
    <h1>About Triticum aestivus </h1>    

<p>
        Triticum is a genus of the family Graminae (Poaceae) commonly known as the grass family. Of the cultivated wheats, common wheat, T. aestivum, is economically by far the most important.
</p>
<p>
        T. aestivum L. as described by Lersten (1987), is a mid-tall annual or winter annual grass with flat leaf blades and a terminal floral spike consisting of perfect flowers. The vegetative state of the plant is characterized by tillers bearing axillary leafy culms. Culms comprise five to seven nodes with three to four foliage leaves. The uppermost, or flag leaf, subtends the inflorescence. Each culm produces an inflorescence or composite spike, the basic unit of which is termed the spikelet. Spikelets are born on a main axis, or rachis, and are separated by short internodes. Each spikelet is a condensed reproductive shoot consisting of two subtending sterile bracts or glumes. The glumes enclose two to five florets which are born on a short axis, or rachilla. Wheat florets contain three stamens with large anthers and the pistil which comprises a single ovary, with a single ovule, two styles, and two branching plumose stigmas at the end of each style.
</p>
<p>     
        T. aestivum L. is hexaploid (AABBDD) with a total of 42 chromosomes (2n=42, six times seven chromosomes). Similarly, the different wheat species also contain some multiple of the basic haploid set of seven chromosomes. Modern wheat cultivars are either tetraploid (durum, AABB) or hexaploid (common and club-types, AABBDD).
</p>
<p>     
        Wheat probably derived from a wild form of diploid einkorn (T. monococcum sensu lato) in an area that bordered the countries of Iran, Iraq, Syria, and Turkey (Feldman, 1976). Tetraploid species evolved first through a combination of hybridization and amphidiploidy between T. monococcum and T. searsii, where T. monococcum is the source of the "A" genome and T. searsii the source of the "B" genome. The result was the tetraploid T. turgidum (AABB) which later was domesticated as emmer wheat and gave rise to the modern durum wheat cultivars. Hexaploid cultivars originated through a cross between tetraploid T. turgidum and T. tauschii (source of the "D" genome). Following an amphidiploidy event, a new species, T. aestivum, arose with a genome complement of AABBDD.

</p>

</body>

</html>